# Ignore Hyprland unless we are on arch-hypr
{{ if ne .desktop_env "hyprland" }}
.config/hypr
{{ end }}

# Ignore KDE configs unless we are on ubuntu-kde
{{ if ne .desktop_env "kde" }}
.config/kde-stuff
{{ end }}

# Ignore GNOME configs unless we are on ubuntu-gnome
{{ if ne .desktop_env "gnome" }}
.config/gnome-extensions
{{ end }}

# Ignore all GUI-related configs if no GUI
{{ if not .has_gui }}
.config/gtk-3.0
.config/gtk-4.0
.config/kitty
.config/wallpapers
.config/waybar
.gtkrc-2.0

{{ end }}
